<link rel="stylesheet" href="{{ "our-story.css" | asset_url }}">
<noscript>{{ "our-story.css" | asset_url | stylesheet_tag }}</noscript>

<div id="os-company-image" class="os-banner-image os-content">
    <img src="{{ 'team_banner_mobile.jpg' | file_url }}" alt="" width="auto" height="auto" loading="lazy" class='os-banner-mobile page-width page-width--narrow'>
    <img src="{{ 'team_banner_desktop.jpg' | file_url }}" alt="" width="auto" height="auto" loading="lazy" class='os-banner-desktop page-width page-width--desktop'>
</div>
<div id="our-story" class="page-width page-width--narrow">
    <div class="os-content">
        <h3>
            Education rooted in building confidence and delivering engaging,
            interactive experiences - that is the heard and soul of Miraculous Education.
        </h3>
        <p>
            We strive to provide learning activities and methods that build strong educational
            foundations, which can be applied to real-world practice. Miraculous Education recommends
            products, curriculum, and tools used by our colleagues everyday for the education
            and enrichment of our students. We discuss strategies to assist in determining foundations
            of each student and how they can improve. We educate families on best practices for their students
            and what can be done at home to supplement their learning.
        </p>
    </div>
    <div id="os-better-world" class="os-content">
        <div id="os-better-world-icon">
            <img src="{{ 'our-team-better-world.png' | file_url }}" alt="" width="auto" height="auto" loading="lazy">
        </div>
        <p>
            Miraculous Education longs for a better world, whose arms uplift each and every student,
            and whose soul extends to our bright future ahead.
        </p>
    </div>
    <div class="os-content">
        <h1><i>Our</i> Reach</h1>
        <p>
            Our reach has grown beyond what we could have hoped. Our engaged, supportive, and creative
            community is the reason behind all that we do. We find joy in what we do and who we spend our days with.
        </p>
    </div>
    <!-- 
        <div id="os-image-two" class="os-banner-image os-content">
            <img src="" alt="" width="auto" height="auto" loading="lazy">
        </div>
    -->
    <div id="os-core" class="os-content">
        <h1>The Core of it All</h1>
        <div id="os-core-icons">
            <div class="os-image-text-pair">
                <img src="{{ 'our-team-positive-collaborations.png' | file_url }}" alt="" class="os-image" width="auto" height="auto" loading="lazy">
                <p>We push for<br><b>positive collaborations</b></p>
            </div>
            <div class="os-image-text-pair">
                <img src="{{ 'our-team-lasting-partnerships.png' | file_url }}" alt="" class="os-image" width="auto" height="auto" loading="lazy">
                <p>We build<br><b>lasting partnerships</b></p>
            </div>
            <div class="os-image-text-pair">
                <img src="{{ 'our-team-high-expectations-and-goals.png' | file_url }}" alt="" class="os-image" width="auto" height="auto" loading="lazy">
                <p>We have<br><b>high expectations and goals</b></p>
            </div>
            <div class="os-image-text-pair">
                <img src="{{ 'our-team-break-harmful-habits.png' | file_url }}" alt="" class="os-image" width="auto" height="auto" loading="lazy">
                <p>We strive to<br><b>break harmful habits</b></p>
            </div>
            <div class="os-image-text-pair">
                <img src="{{ 'our-team-building-a-better-future.png' | file_url }}" alt="" class="os-image" width="auto" height="auto" loading="lazy">
                <p>We focus only on<br><b>building a better future</b></p>
            </div>
        </div>
    </div>
    <div id="os-team" class="os-content">
        <h1>Meet the Team</h1>
        <div id="os-team-icons">
            <div class="os-image-text-pair">
                <img src="{{ 'team_nathan.jpg' | file_url }}" alt="" class="os-image" width="auto" height="auto" loading="lazy">
                <p>
                    Nathan Castro<br>
                    Operations & Community
                </p>
            </div>
            <div class="os-image-text-pair">
                <img src="{{ 'team_natalie.jpg' | file_url }}" alt="" class="os-image" width="auto" height="auto" loading="lazy">
                <p>
                    Natalie Khamphanh<br>
                    Marketing & Design
                </p>
            </div>
            <div class="os-image-text-pair">
                <img src="{{ 'team_jaime.jpg' | file_url }}" alt="" class="os-image" width="auto" height="auto" loading="lazy">
                <p>
                    Jaime Luu<br>
                    Director of Education
                </p>
            </div>
            <div class="os-image-text-pair">
                <img src="{{ 'team_bradley.jpg' | file_url }}" alt="" class="os-image" width="auto" height="auto" loading="lazy">
                <p>
                    Bradley Minton<br>
                    Finance & Strategy
                </p>
            </div>
            <div class="os-image-text-pair">
                <img src="{{ 'team_lauren.jpg' | file_url }}" alt="" class="os-image" width="auto" height="auto" loading="lazy">
                <p>
                    Lauren Peterson<br>
                    Content
                </p>
            </div>
        </div>
    </div>
    <div id="os-work-with-us" class="os-content">
        <h1>
            Like what you see?<br>
            <b>Start Building</b>
        </h1>
        <div id="os-work-with-us-buttons">
            <a href="/pages/contact-us">
                <button>Work With Us</button>
            </a>
        </div>
    </div>
</div>